 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 :root{
    --a : 0;
 }

 *{
    margin: 0px;
    padding: 0px;
 }

 body{
    margin: 0px 5px;
    background-color: black;
    font-family: 'Roboto', sans-serif;
 }
.navbar{

    justify-content: space-between; 
   
}
.navbar-left img{
    width: 130px;
    margin: 15px;
}
.hamburger{
    display: none;
}
.navbar-right{
    gap: 16px;
}
.navbar-right-1{
    
    gap: 15px;
    padding-right: 25px;
    
}
.navbar-right-2{
    padding-left: 25px;
    gap: 22px;
    
}

.house{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.search{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 3px;
    filter: invert(1);
    background-color: #e4e3e3;
    
}
.btn-a{
    height: fit-content;
    width: auto;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin: 3px;
    filter: invert(1) ;
    /* background-color: #00ffcc; */
    padding: 10px;
    padding-right: 200px;
    background-color: #e4e3e3;
    color: rgb(67, 67, 67);
    font-size: 18px;
    gap: 7px;
    
}
.btn-a:hover{
    border:0.5px solid rgba(202, 202, 202, 0.837);
}
.btn-1{
    height: fit-content;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer; 
    font-size: 18px; 
    font-weight: 750;  
    color: rgb(165, 165, 165);
}
.btn-1:hover{
    color: white;
}
.btn-2:hover{
    color: white;
}
.btn-2{
    height: fit-content;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;   
    font-size: 17px; 
    font-weight: bold;   
    color: rgb(165, 165, 165);
}
.btn-2-a{
    height: 50px;
    width:120px;
    border-radius: 24px;
    background: white;
    border: none;
    cursor: pointer;   
    font-size: 17px; 
    font-weight: 700;  
}
.btn-2-a:hover{
    background: rgb(221, 221, 221);
}
.divider{
    height: 30px;
    width: 2px;
    background-color: white;

}
.main-body{
    gap: 0.5vw;
}
.left{
    width: 27vw;
    position: relative;
    background-color: #121212;
    color: white;
    margin-left: 10px;
    flex-direction: column;
    border-radius: 8px;
}

.left div:first-child{
    font-weight: 700;
}
.library{
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 30px;
    justify-content: space-between;
    font-size: 30px;
}
.close{
    display: none;
    position: absolute;
    right: 1px;
    top: 10px;
    width: 30px;
    
}
.plus{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: transparent;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: 50;
    cursor: pointer;
}
.plus:hover{
    background-color: #2a2929;
}
.box{
    background-color: #1f1f1f;
    margin: 8px;
    border-radius: 8px;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    font-size: 18px;
}
.left-footer{
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 50px;
    padding-left: 12px;
    margin-right: 100px;
    position: absolute;
    bottom: 0;
}
.left-footer a{
    color:rgb(165, 165, 165) ;
    text-decoration: none;
    
    
}
.left-footer-1{
    gap: 30px;
    width: 10px;
    /* flex-wrap: wrap; */
    font-size: 13px;
    font-weight: lighter;
}
.b1{
    
    background: transparent;
    color: white;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 16px;
    margin-top: 35px;
    margin-left: 28px;
    display: flex;
    gap: 9px;
    

}
.b1:hover{
    border: 2px solid white;
}
.globe{
    height: 20px;
    width: 20px;
    filter: invert(1);

}
.right{
    width: 71vw;
    height: 90vh;
    background-color:#121212 ;
    border-radius: 8px;
    flex-direction: column;
    color: white;
    position: relative;


}
.heading{
    margin-top: 30px;
    margin-left: 33px;
    font-size: 28px;
}
.card-container{
     overflow-y: auto;
     flex-wrap: wrap; 
     max-height: 75vh;
}
.card{
    width: 200px;
    margin-top: 27px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 5px;
    font: 20px;
    position: relative;
    transition: all .9s;
}
.card:hover{
    background-color: rgb(81, 81, 81);
    cursor: pointer;
    --a:1;
}
.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.card p{
    color: rgb(165, 165, 165);
}
.play{
    position: absolute;
    right: 10px;
    top: 148px;
    opacity: var(--a);
    transition: all 1s ease-out;
}
.playbar{
    color: #000000;
    position: fixed;
    bottom: 20px;
    background-color: rgb(129, 128, 128);
    width: 69.5vw;
    border-radius: 35px;
    padding: 15px;
}
.songinfo{
    width: 250px;
}
.song-buttons{
    cursor: pointer;
    gap: 10px;
}
.song-list{
    height: 544px;
    overflow: auto;
    margin-bottom: 20px ;
}
.song-list ul{
    padding: 0 42px;
}
.song-list ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    padding: 20px;
}
.timevol{
    gap: 15px;
}
.volume{
    gap: 8px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}
.seekbar{
    height: 5px;
    width: 97%;
    background-color:  black;
    border-radius: 5px;
    position: absolute;
    bottom: 2px;
    margin: 3px;
    margin-bottom: 2px;
    cursor: pointer;
}
.circle{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: black;
    position:absolute;
    top: -6px;
    left: 0;
    transition: left 0.5s;
}
.playbar-content{
    padding: 0 12px;
    justify-content: space-between;
}


@media (max-width: 1200px){
    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        height: fit-content;
    }
    .left-footer-1{
        margin-top: 5px;
        gap: 25px;
        font-size: 10px;
    }
    .close{
        display: block;
        margin-bottom: 10px;
    }
    .right{
        width: 100vw;
    }
    .timevol{
        flex-direction: column;
    }
    .playbar{
        width: calc(100vw - 50px);
    }
    .seekbar{
        width: calc(100vw - 60px);
    }
    .playbar-content{
        flex-direction: column;
        gap: 8px;
    }
    .navbar-right{
        width: 100vw;
    }
    .hamburger{
        display: flex;
        width: 50px;
    }
    .logo{
        display: none;
    }
    .btn-1{
        display: none;
    }
    .divider{
        display: none;
    }
    .card-container{
        justify-content: center;
    }
    .card{
        margin: 10px 0;
        width: 50vw;
    }
}

@media (max-width: 500px){
    .card{
        width: 90vw;
    }
}